$unit: 3rem;

.shp-icon-controls__icon-list {
    .components-base-control__label { display: none; }
    .components-flex {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
        position: relative;
    }

    .components-radio-control__option {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        aspect-ratio: 1;
    }

    .components-radio-control__input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;

        border-radius: 2px;
		border: none;
        appearance: none;
        background: none;
        z-index: -1;

		&:before {
			content: none;
		}

		&:checked {
			background-color: #eee;
			box-shadow: 0 0 0 2px #555d66;
		}
    }

    .components-radio-control__label {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;

        .shp-icon {
            width: 100%;
        }
    }
}

.editor-styles-wrapper {
	.shp-icon {
		&--block {
			&.alignleft,
			&.alignright {
				width: 10vw;
			}

			&.aligncenter {
				width: 10vw;
				display: inline-block;
				text-align: center;
			}

			svg {
				width: 100% !important;
				height: auto !important;
				top: 0 !important;
			    vertical-align: top;
			}
		}
	}

	.shp-icon__notice {
		width: 100%;
		height: 100%;
		display: block;
		opacity: .5;
		border-radius: 2px;
		box-sizing: border-box;
		border: 2px dashed #444;
		text-align: center;
		padding: .5em 1em;
		font-size: .75em;
		font-weight: bold;
		text-transform: uppercase;
	}

	.wp-block[data-type="shp-icon/icon"] {
		.components-placeholder {
			//height: 2em;
			width: 100%;
			min-height: auto;
			margin-bottom: 0;

			&__fieldset {
			    justify-content: center;
			}

			&__label {
				position: absolute;
				display: none !important;
			}

			.components-spinner {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}
}
